
/* nav portion */
.burgerbar{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 375px;
    z-index: 1000;
    backdrop-filter: blur(15px);
    background-color: #FFF;
    box-shadow: -12px 0px 12px rgba(0,0,0,0.2);
    align-items: flex-start;
    justify-content: flex-start;
}
/* js */
.burgerbar li,a{
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
}
nav ul{
    display: flex;
    gap: 44px;
    list-style: none;

}
nav ul a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 1.125rem;
    font-weight: 400;

}
nav ul a span{
    color: #FF5400;
}
.nav-container{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.nav-container .name-logo{
    padding-left: 10px;
}
.burger-btn{
    display: none;
}
/* banner portion */
.banner-text{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png); 
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.find-container{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30)

}
input.where{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    padding: 0;
}
.where input[type=text]{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}
.selectbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFF;
    width: 174px;
    height: 52px;
}
.selectbox span{
    color: #131318;
}
input.select-input{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 100px;
}

.search{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;    
    border: none;
    color: #FFF;
    text-align: left;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
input.search-input{
    width: 100px;
    color: #FFF;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 0;
}
input.search-input::placeholder {
    color: #FFF;
}
.search-btn{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 24px;
}
.material-symbols-outlined{
    color: white;
}
/* main portion 1 */
.popular-container{
    display: flex;
    justify-content: center;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 100px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
}
.popular-text{
    width: 577px;

}
.popular-text p{
    margin-bottom: 24px;
    margin-top: 24px;
}
.popular-text li{
    margin-bottom: 16px;
}
.popular-container h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;  
    margin-bottom: 0;
}
.popular-img img{
    width: 100%;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
}
/* main 3rd  grid portion */
.location-grid-container{
    margin-left: auto;
    margin-right: auto;
}
.location-grid-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}
.photo-grid{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
}
.location-grid-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 48px;
}
.mal-ind{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 24px;
}
.sri-nor-ka{
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
   

}
.sri-nor-ka img{
    border-radius: 16px;
}

.ban-ban{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.ban-ban img{
    border-radius: 16px;
}
.text{
    position: relative;
}
.text h4{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
/* main 4th card portion */
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}
.card-container-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;    
}
.card-portion-container{
    display: flex; 
    justify-content: space-between;
    gap: 24px;  
}
.card-portion{
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px;
}
.card-portion-lg{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.card-portion-title{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}
.card-portion-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; 
}
.card-container-description{
    color: #5A5A5D;
    font-family: Mulish;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;   
}
/* packages portion */
.package-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}
.package-container-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800; 
}
.package-portion-container{
    display: flex; 
    justify-content: space-between;
    gap:50px;  
}
.package-portion-container img{
    height: 90px;
    width: 90px;
    margin: 0;
    padding: 0;
}
.package-portion{
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color:#151515;
    width: 284px;
    height: 450px;
    padding: 20px;
}
.package-portion-lg{
    width: 284px;
    height: 450px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: #151515;
    padding: 20px;
}
.package-portion-title{
    color: #f8A145;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0;
}
.package-portion-description{
    color: #FFF;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; 
}
.package-container-description{
    color: #5A5A5D;
    font-family: Mulish;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;   
}
/* video portion styles */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 100px;


}

.video-text-container {
    max-width: 610px; 
}
.video-text-container ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}
.video-text-container button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400; 
    border: none; 
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800; 
}
.video-text-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;   
}

.video-text-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;    
}

.video {
    width: 610px;
    height: 424px;
    border-radius: 16px;
}

.video iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/* main newsletter portion */
.newsletter-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 100px;
}
form{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form input[type=text]{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    padding: 0;
    padding-left: 16px;
}
form button{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    width: 409px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.newsletter-text-title{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;

}
.newsletter-text-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 24px;
}
.newsletter-form-container{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-img{
    position: relative;
}
.discount-container{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    position: absolute;
    right: 7px;
    top: 255px;
}

.discount-container-title{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto;
}
.discount-container-description{
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto;
    
}
/* footer section styles */
footer{
    margin-top: 100px;
    background-color: rgba(19, 19, 24, 0.05);
}
.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
}
.name-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hr-line hr{
    width: 800px;
    color:  #1313181A;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;


}
.name{
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}
.name span{
    color: #FF5400;
}
.footer-description p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}
.social-icons{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 50px;
}
.icon-img i{
    color: #131318;
}
.copyright p{
    display: flex;
    justify-content: center;
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 110px;
}






/* responsive styles */
@media screen and (max-width:600px) {
    .banner-text{
    width: 335px;
    height: 483px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image:url(Images/Group\ 13\ \(1\)\ \(1\).png), :linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-position: top;
    margin-bottom: 0;
    margin-top: 0;
    }
    .banner-title{
        font-size: 1.375rem;
        margin-top: 32px;
    }
    .banner-description{
        margin-top: 6px;
        font-size: 0.875rem;
        margin-bottom: 32px;
    }
    .find-container{
        flex-direction: column;
        width: 287px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        
    }
    input.where{
        margin-left: auto;
        margin-right: auto;
        width: 247px;
        height: 52px;
        margin-top: 16px;
        text-align: left;
        display: flex;
        padding-left: 8px;

    }
    .selectbox {
        width: 255px;
        height: 52px;
        margin-left: auto;
        margin-right: auto;
        gap: 110px;

    }
    input.select-input{
        width: 100px;
        margin-top: 0;
    }
    .search{
        width: 255px;
        height: 52px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
    input.search-input{
        margin: 0;
        padding: 0;
        width: 100px;
        color: #FFF;
    }
    
    .popular-container{
        flex-direction: column;
        margin: 0;
        gap: 0;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
    width: 335px;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }
    .popular-text p{
        padding: 20px;
        margin: 0;
    }
    .popular-text h2{
        margin-top: 0;
        font-size: 1.25rem;
        padding: 20px;
        padding-bottom: 0;
    }
    .btn-primary{
        margin-left: 20px;
    }
    .mal-ind{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 16px;
    }
    .sri-nor-ka{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 16px;
    }
    .ban-ban{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 16px;
    }
    .photo-grid{
        gap: 16px;
    }
    .photo-grid img{
        width: 335px;
        height: 176px;
    }
    .location-grid-title{
        font-size: 1.25rem;
    }
    .location-grid-description{
        margin-top: 0;
        font-size: .875rem;
    }
    .card-container{
        gap: 16px;
    }
    .card-portion-container{
        flex-direction: column;
        gap: 16px;
    }
    .card-portion{
        width: 335px;
        height: 289px;
        padding: 10px;
    }
    .card-portion img{
        margin-top: 20px;
    }
    .card-portion-lg{
        width: 335px;
        height: 289px; 
        padding: 10px;       
    }
    .card-portion-lg img{
        margin-top: 20px;
    }
    .card-container-description{
        margin-top: 0;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .card-container-title{
        font-size: 1.25rem;
    }
    .card-portion-title{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .card-portion-container{
        font-size: 0.875rem;
    }
    .package-portion-container{
        flex-direction: column;
        gap: 16px;
    }
    .video-container{
        flex-direction: column;
    }
    .video-text-title, .video-text-description{
        text-align: center;
    }
    .video{
        width: 335px;
        height: 200px;
    }
    .newsletter-container{
        flex-direction: column;
        margin-top: 22px;
        align-items: center;
    }
    .newsletter-img img{
        width: 100%;
    }
    .discount-container{
        width: 214.023px;
        height: 79.268px;
        top: 115px;
        right: 3px;
    }
    .discount-container-title{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 0.99088rem;
        font-weight: 400;       
    }
    .discount-container-description{
        color: #FFF;
        font-family: Mulish;
        font-size: 1.32113rem;
        font-weight: 800;       
    }
    .newsletter-text-title{
        margin-top: 10px;
    }
    .newsletter-text-container{
        text-align: center;
    }
    .newsletter-form-container{
        width: 335px;
        height: 353px;
        padding: 10px;
    }
    form input[type=text]{
        width: 288px;
        height: 52px;
        margin: 0 auto;
    }
    hr{
        margin-left: auto;
        margin-right: auto;
        width: 288px;
    }
    form{
        gap: 10px;
    }
    form button{
        width: 288px;
        height: 52px;
        margin: 0 auto;
    }
    .hr-line hr{
        width: 335px;
    }
    .social-icons {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .icon-img a {
        margin: 0;
        padding: 0;
    }
    .icon-img{
        height: 18px;
        width: 18px;
    }
   .icon-img img{
    height: 18px;
    width: 18px;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .copyright{
        margin-top: 24px;
    }
    footer{
        margin-top: 24px;
    }
    .disp-hide{
        display: none;
    }
    .nav-container{
        width: 100%;
        margin-bottom: 18px;
    }
    .nav-container .name-logo{
        padding-left: 20px;
    }
    .nav-portion li img{
        margin-right:20px ;
    }
    .burgerbar{
        width: 100%;
    }
    .burger-btn{
        display: block;
    }
    .package-card-container{
       flex-direction: column;
    }
}